# data extraction and OCR as mentioned
docling==2.71.0
playwright==1.58.0

# use this commend to install the playwright(just to render the website)
# playwright install



# for fastapi
fastapi==0.128.0
uvicorn==0.40.0
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.12.0
python-multipart==0.0.22

python-dotenv==1.2.1



# for rag

langchain==1.2.7
langchain-google-genai==4.2.0
langchain-huggingface==1.2.0
rich==14.3.2
python-dotenv==1.2.1
faiss-cpu==1.13.2


scrapy==2.14.1
lxml==6.0.2
beautifulsoup4==4.14.3
scrapy-playwright==0.0.46


sentence-transformers==5.2.2